* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  margin: 0;
  background-image: url("../images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.search-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.search-container img {
  width: 160px;
  height: 160px;
}

.search-container h1 {
  font-family: Lilita One;
  margin-bottom: 20px;
  margin-bottom: 3px;
}

.search-container p {
  color: grey;
  margin-bottom: 13px;
  padding: 0px 25px;
}

.search-container textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #e6e6e6;
  height: 160px;
  resize: none;
  border-radius: 25px;
  padding: 12px 20px;
  font-size: 18px;
  margin: 20px 0px;
  transition: all 0.3s ease;
}

.search-container textarea::placeholder {
  font-family: Caveat Brush;
  font-size: 18px;
}

.search-container textarea:focus {
  background-color: #d9d9d9;
  outline: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5)
}

.search-container textarea:hover {
  background-color: #d9d9d9;
}

.search-container input[type="button"] {
  padding: 10px 0px;
  border-radius: 5px;
  border: none;
  background-color: #9A896D;
  cursor: pointer;
  border-radius: 25px;
  width: 100%;
  transition: all 0.3s ease;
  color: white;
  font-family: Caveat Brush;
  font-size: 22px;
}

.search-container input[type="button"]:hover {
  background-color: #7d6b4d;
}

.search-container input[type="button"]:disabled {
  background-color: #d5c6aa;
  cursor: not-allowed;
}

#message {
  text-align: center;
  margin: 5px 0;
  font-size: 14px;
  color: gray;
  opacity: 0;
  transition: all 0.3s ease;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.result-board {
  padding: 30px;
  background-color: white;
  width: 550px;
  border-radius: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.result-board .display-name img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.result-board .display-name {
  display: flex;
}

.result-board .display-name div {
  display: flex;
  margin-left: 30px;
  flex-direction: column;
  align-items: left;
  place-content: center;
}

.result-board .display-name div h3 {
  margin: 0;
  padding: 0;
  font-family: Caveat Brush;
}

.result-board .display-name div button {
  padding: 5px 50px;
  border-radius: 5px;
  border: none;
  background-color: #e6e6e6;
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.3s ease;
  font-family: Annie Use Your Telescope;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 2px;
}

.result-board .display-name div button:hover {
  background-color: #cfcfcf;
}

.result-board .bird-sound {
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 10px 20px;
  background-color: gainsboro;
  position: relative;
}

.result-board .bird-sound h3 {
  margin: 0;
  padding: 0;
  font-family: Caveat Brush;
}

.result-board .bird-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  margin-bottom: 0;
}

.result-board .bird-info .bird-description {
  margin-right: 20px;
}

.result-board .bird-info h3 {
  margin: 0;
  padding: 0;
  font-family: Caveat Brush;
}

.result-board .bird-info .info {
  text-align: justify;
  width: 300px;
  height: 180px;
  margin-bottom: 0;
  overflow-y: auto;
}

.result-board .bird-info img {
  width: 170px;
  border-radius: 5px;
}

#fader {
  opacity: 0;
  transition: all 0.5s ease;
}

#init {
  position: absolute;
  text-align: center;
  padding: 20px;
  width: 70%;
}

.credits {  
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0px 40px;
  font-size: 14px;
  color: gray;
}

/* Responsive */
@media only screen and (max-width: 860px) {
  body {
    height: 100%;
    background-size: auto !important;
  }
  .credits {
    position: relative;
  }
  .result-board .bird-info .info {
    width: 100%;
  }
  .result-board {
    width: 100%;
  }
  .credits {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
  }
  #init {
    width: 90%;
  }
}

/* Loader */
#loader {
  position: absolute;
  display: none;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #9A896D;
  animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

@keyframes lds-grid {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}